[include]
    path = .gitprivate
[core]
	editor = nvim
	excludesFile = ~/.gitignore_global
[commit]
    gpgsign = true
	verbose = true
[gpg]
	program = gpg2
[init]
	templatedir = ~/.git_template
[merge]
    tool = fugitive
[mergetool "fugitive"]
    cmd = nvim -f -c "Gdiff" "$MERGED"
[diff]
    tool = vimdiff
[difftool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE
[alias]
	co = checkout
	ci = commit
	br = branch
	st = status
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    # re-generate ctags for the entire repo
	ctags = !.git/hooks/ctags
